* {box-sizing: border-box;}

body { 
  background-image: url("../img/slide.png");
  -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                max-height: 1000%
  margin: 0;
  font-family: Noto Sans;
}

.header {
  text-align: center;
  overflow: hidden;
  background-color: #0b9164;
  padding: 20px 10px;
  text-decoration: none;
}

.header a, .header .logo {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 10px;
  border-radius: 4px;
}

.header .logo {
  color:#fff;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .header a {
    font-size: 15px;
    display: inherit;
    text-align: left;
  }
  .header-right {
    padding-top: 10%;
      font-size: 15px;
    float: none;
  }
}
.panel{
  border-color:rgb(0, 0, 0);
  margin:40px;
  padding:20px;
  font: 15px "Noto Sans";
  }
  
  li.nav-item.active {
      background-color: gray;
  }
  
  a.nav-link {
     color: #ffffff;
  }
  
  .panel {
      background-color: #fff;
      border-radius: 16px;
      border: none;
  }
  
  .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 
ul.nav a:hover { color: #fff !important; }

     #textColor{
            color: white;
        }
        .navbar-toggle{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='3' stroke-linecap='round' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
            border-color: rgb(255,255,255);
        }
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #ee4400; /* add background-color to active links */
}
